#loginBG {
    height: 91vh;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background: #C6FFDD;
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    background: linear-gradient(to right, #f08387, #FBD786, #C6FFDD);
    
}

